@import '../../../assets/main-styles/theme.scss';
@import '../../../assets/main-styles/main.scss';

#aside {
  background: $color-aside-bar;

  .table-responsive {
    padding-left: 40px;
  }

  .days-next span {
    margin-top: -12px;
  }
  .moment-of-day div {
    white-space: nowrap;
  }

  .weather-icon {
    margin-top: -14px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}
