@import "../../../assets/main-styles/theme.scss";

#main-title-bar {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: left;
  font-size: 1.3em;
  background-color: white;

  label {
    margin-left: 70px;
    color: $color-title-menu-bar;
    font-weight: bold;
  }

  .line-title-bar {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
}
