/**
 * COLORES
 */
$color-text: #a6aaaf;
$color-darkgray: #a6aaaf;
$color-lightgray: #dcdee0;
$color-veryLightGrey: #cdcdcd;
$color-white: #ffffff;
$color-darkWhite: #f7f7f7;
$color-red: #49ad8f;
$color-silver: #c5c5c5;
$color-steel: #647687;

// Interface general
$color-main-content-background: #f6f6f6;
$color-company: $color-lightgray;
$color-username: #fff;
$color-company-subtitle: #6d6d6d;
$color-title-menu-bar: #6d6d6d;
$color-items: $color-darkgray;
$color-header-bar: #4bb696;
$color-aside-bar: #647687;
$color-body: #a6aaaf;
