@import '../../../assets/main-styles/theme.scss';
@import '../../../assets/main-styles/main.scss';

#header-content {
  header {
    margin-top: 3rem;
    h1 {
      color: white;
    }
  }

  .weather-icon {
    margin-top: -30px;
    margin-left: 5%;
    padding-right: 20px;
    margin-right: 10px;
    text-align: center;
  }

  .weather-temp {
    background-color: orange;
    border-radius: 100px;
    margin-left: 35%;
    //margin-right: 10%;
    margin-bottom: 20px !important;
    height: 150px;
    width: 150px;
    text-align: center;
    margin-bottom: 0px;

    span {
      padding-top: 40px;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-style: bold;
      font-size: 2.7em;
      color: white;
    }
  }

  .card-title {
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 38px;
    font-weight: bold;
  }

  small {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.5em;
    white-space: nowrap;
  }

  .card-date {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 28px;
    font-weight: bold;
    font-style: italic;
  }
  .card-text {
    font-style: bold;
    font-size: 1.6em;
  }
}
